nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 5px;
  }
  
  .nav-logo-container img {
    height: 100px;
  }
  
  .nav-links-container {
    display: flex;
    align-items: center;
  }
  
  .nav-links-container ul {
    display: flex;
    flex-direction: row;
    margin-left: auto; /* Align to the right Very annnoying*/
  }
  
  .nav-links-container li {
    margin-left: 2px;
  }
  
  .primary-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .primary-button:hover {
    background-color: #0056b3;
  }
  