.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 10px;
    
  }
  
  .input-field label {
    text-align: left;
    
  }
  
  .input-field input, .input-field select {
    flex-grow: 1;
    text-align: right;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-left: 20px;
    
  }
  
  .signup-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  